html {
    width: 100vw;
}

.main-div {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: top;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5vi 5vi;
}

#menu-icon img{
    width: 8vw;
    height: auto;
}

#main-logo img{
    width: 50vw;
    height: auto;
}

#profile-img img{
    width: 6vw;
    height: auto;
}

.content-div{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 0.15em;
    
    margin: 8vi;
    margin-top: 12vi;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sad-img {
    margin-top: 15vi;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sad-img img{
    height: 30vh;
    width: auto;
    border-radius: 5vi;
}

.send-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vi;
}

.send-email input{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    border: none;
    border-radius: 4vi;
    text-align: center;
    width: 70vw;
    height: 3vh;
}

.send-email img {
    width: 80vw;
}

.chose-buttons-div {
    padding: 2vi;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chose-buttons-div img {
    margin-top: 8vi;
    width: 15vw;
}



