
.main-div {
    height: 120vh;
    width: 100vw;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
    
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5vi 5vi;
}

#menu-icon img{
    width: 8vw;
    height: auto;
}

#main-logo img{
    width: 50vw;
    height: auto;
}

#profile-img img{
    width: 6vw;
    height: auto;
}

.content-div{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 0.15em;
    
    margin: 8vi;
    margin-top: 12vi;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.graphic-image {
    margin-top: 15vi;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphic-image img{
    height: auto;
    width: 85vw;
    border-radius: 5vi;
}

.button-div {
    margin: 20vi;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button-div img{
    height: 68px;
    width: 200px;
    cursor: pointer;
}

.container-videos {
    margin: 8vi;
    margin-top: 12vi;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-videos iframe{
    width: 90vw;
    height: 25vh;
    margin-top: 2vi;
    margin-bottom: 2vi;
    border-radius: 10vi;
}

.second-content-div{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 0.15em;
    font-size: 3.5vi;
    margin-left: 4vi;
    margin-right: 4vi;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chose-buttons-div {
    padding: 2vi;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chose-buttons-div img {
    margin-top: 8vi;
    width: 15vw;
}